*{
	margin: 0px;
	padding: 0px;
	
}

nav{
	display: flex;
    border: 2px solid white;
	height: 80px;
	margin-top: 10px;
	margin-left: 15px;
}

nav ul{
	display: flex;
	list-style: none;
	margin-left: 100px;
	margin-top: 20px;
}

nav ul a{
	text-decoration: none;
	padding: 0px 70px;
	color: black;

}

nav ul li select{
	border: 1px solid white;
}

nav .logo h1{
	color: red;
}

nav .logo p{
	margin-top: 10px;
}

main{
	background-color: black;
	display: flex;
	height: 650px;
}

main h1{
	color: white;
}

main .head{
	color: red;
	margin-top: 20px;
}

main p{
	color: whitesmoke;
	margin-top: 20px;
}

main img{
	margin-left: 200px;
}

main div{
	margin-left: 200px;
	margin-top: 200px;
}

main button{
	margin-top: 30px;
	width: 200px;
	height: 50px;
	background-color: whitesmoke;
	border: 1px solid red;
	background-color: black;
	color: white;
	cursor: pointer;
}